
@font-face{
  font-family: myfont1;
  src: url(D:\Roboto\Roboto-VariableFont_wdth,wght.ttf);
}


/* Global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "myfont1", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: "Roboto", serif;
 background-color: #f5f5f5;
}

/*Hero Section*/
.hero_section_bg_img {
 position: relative;
 top: 80px;
 left: 150px;
}
.logo{
  position: absolute;
  top: 80px;
  left: 150px;
}
/*Navigation Bar*/
nav ul{
display: flex;
gap: 12px;
position: fixed;
top: 100px;
left: 450px;
background-color: #fff;
align-items: center;
border-radius: 60px;
width: 750px;
backdrop-filter: blur 10px;
z-index: 1000;

}
nav ul li a{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: black;
} 

.new-badge {
  background-color: #A020F0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 3px 9px;
  border-radius: 6px;
  text-transform: uppercase;
  margin-left: 5px;
  position: absolute;
  top: 2px;
  left: 90px;
}
/*Reusable Button*/
.btn{
  background-color: #A020F0;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  padding: 9px 60px;
  font-family: sans-serif;
  font-size: 16px;
  border: 1px hidden;
  text-align: center;
  text-wrap: nowrap;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.5;
}

.plans_dropdown{
  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
  padding-top: 30px;
  height: 300px;
  width: 1100px;
  position: absolute;
  left: -400px;
  top: -2px;
  visibility: hidden;
  

}

.weekly_dropdown{
  position: absolute;
  left: 240px;
  gap: 28px;
  text-align: center;
  visibility: hidden;
}
.weekly_dropdown_1 h1{
  background-color:#00FA9A;
  padding: 30px;
  border-radius: 30px;
  color: #A020F0;
  font-size: 42px;
  font-weight: 700;  
  width: 300px;
}
.weekly_dropdown_1 p{
  background-color:#fff;
  color: #000;
  border: 1px;
  border-radius: 40px;
  padding: 2px;
  box-shadow: 0 6px 8px 0 rgb(182, 182, 182);
  width: 50%;
  position: relative;
  left: 78px;
  top: 10px;
}
.weekly_dropdown_2 p{
  background-color:#fff;
  color: #000;
  border: 1px;
  border-radius: 40px;
  padding: 2px;
  box-shadow: 0 6px 8px 0 rgb(182, 182, 182);
  width: 50%;
  position: relative;
  left: 78px;
  top: 10px;
}
.weekly_dropdown_2 h1{
  background-color:#fffc00;
  padding: 30px;
  border-radius: 30px;
  color: #A020F0;
  font-size: 42px;
  font-weight: 700;  
  width: 300px;
}
.monthly_dropdown{
  position: absolute;
  left: 240px;
  gap: 28px;
  text-align: center;
  visibility: hidden;
}
.monthly_dropdown_1 h1{
  background-color: #00FA9A;
  padding: 30px;
  border-radius: 20px;
}
.monthly_dropdown_1 h3, .monthly_dropdown_2 h3, .monthly_dropdown_3 h3{
  background-color:#A020F0;
  color: #000;
  border: 1px;
  border-radius: 40px;
  padding: 2px;
  box-shadow: 0 4px 8px 0 rgb(88, 88, 88);
  width: 50%;
  position: relative;
  left: 62px;
  top: 10px;
}
.monthly_dropdown_2 h1{
  background-color: #fffc00;
  padding: 30px;
  border-radius: 20px;
}
.monthly_dropdown_3 h1{
  background-color:#A020F0;
  padding: 30px;
  border-radius: 20px;
}
.annual_dropdown{
  position: absolute;
  left: 90px;
  text-align: center;
  visibility: hidden;
}
.annual_dropdown_3 h1, .annual_dropdown_4 h1 {
  width: 250px;
}
.annual_dropdown_1 h1, .annual_dropdown_2 h1 {
width: 200px;
}
.annual_dropdown_1 h1{
  background-color: #39157B;
  color: #fff;
  padding: 30px;
  border-radius: 20px;
}
.annual_dropdown_2 h1{
  background-color: #00FA9A;
  color: #A020F0;
  padding: 30px;
  border-radius: 20px;
}
.annual_dropdown_3 h1{
  background-color: #fffc00;
  color: #A020F0;
  padding: 30px;
  border-radius: 20px;
}
.annual_dropdown_4 h1{
  background-color: #A020F0;
  color: #fffc00;
  padding: 30px;
  border-radius: 20px;
}
#plans-arrowdown:hover .plans_dropdown{
  visibility: visible;
  display: inline-block;
}




 


.section-1{
  padding: 0px 550px;
  font-family: myfont1;
  position: relative;
  width: 450px;
  margin-top: 610px;



}
.head-1{
 font-family: sans-serif;
 font-size: 28px;
 font-weight:900;
 margin-left: 100px;
 position: absolute;
 color: rgb(44, 44, 44);

}

.para-1{
  position: absolute;
  top: 80px;
  width: 480px;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;

}
 .sec-btn{
  position: relative;
  top: 180px;
  left: 140px;
  padding: 10px 60px;


}
.section-2{
  position: relative;
  top: 200px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 500px;
}
.section-2-head{
  position: absolute;
  left: 590px;
  padding: 14px 68px;
  font-size: 40px;
  font-weight: 600;
  font-family: sans-serif;
  background-color: rgb(77, 76, 76) ;
  color: white;
  border-radius: 38px;
  width:fit-content;
}

.deleted-text {
  position: relative;
  text-decoration: none;
}

.deleted-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 65%;
  width: 100%;
  height: 2px;
  background: red; 
  transform: rotate(-7deg); 
  transform-origin: left center;
}



.card{
  position: relative;
  background-color: white;
  top: 180px;
  left: 150px;
  width: 380px;
  height: 760px;
  border: 1px groove rgba(128, 128, 128, 0.253);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 30px;
  
  
  
  
  
}
.content-footer ul{
  list-style: none;
  padding-left: 0px;
}
.content-footer li{
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  
}
.content-footer li::before{
  content: "*";
  color: black;
  font-size: 34px; 
  font-weight: bold; 
  padding: 4px 8px;
}
.header-1{
  background-color: #00FA9A;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #A020F0;
  text-align: center;
  font-size: 18px;

}
.content-head{
  width: 270px;
  font-size: 24px;
  text-align: center;
  color: rgb(53, 53, 53);
  font-family: sans-serif;
}
.card-btn {
  padding: 18px 80px;
  font-size: 20px;
}





/* footer */
.sec-footer {
  margin-top: 30px;
  padding: 84px 48px 0px;
  background-color: #fff;
  border-radius: 30px;
}

.footer-1,
.footer-2,
.footer-3 {
  display: flex;
  align-items: center;
  gap: 120px;
  padding-bottom: 30px;
}

.footer-2{
  align-items: flex-start;
}

.footer-1 h2 {
  font-size: 82px;
  font-weight: 900;
  line-height: 90px;
  position: relative;
}

.footer-1 h2::after {
  content: "";
  background-color: #000;
  height: 1px;
  width: 40px;
  position: absolute;
  top: 50px;
  right: -70px;
}

.social-icon {
  display: flex;
  gap: 50px;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
}

.social-icon a {
  color: #000;
}

.footer-2 h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-2 ul {
  margin: 0;
  padding-top: 20px;
}

.footer-2 li {
  list-style: none;
  padding: 6px 0px;
}
.footer-2 a{
  display: block;
}

.sec-footer a {
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
}
.sec-footer a:active{
  border: 2px solid #CBD5E0;
  box-shadow: 1px 1px 20px #CBD5E0;
}
.sec-footer a:hover {
  text-decoration: underline;
}

.footer-logo{
  text-align: end;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}
.footer-logo img{
  width: 200px;
}

.footer-3 {
  padding-block: 30px 50px;
  font-size: 14px;
  justify-content: space-between;
}

.footer-3 ul{
  display: flex;
  gap: 30px;
}